n8n/workflows/outreach-workflow-importable.json
{
  "name": "Outreach - plantilla importable",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": []
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "sheetId": "={{$env.GOOGLE_SHEETS_SHEET_ID}}",
        "operation": "lookup",
        "range": "Sheet1!A:I",
        "options": {
          "valueRenderOption": "FORMATTED_VALUE"
        }
      },
      "name": "Google Sheets - Read Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/complete",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"model\":\"claude\",\"prompt\":\"{{$json.prompt}}\",\"max_tokens\":300}"
      },
      "name": "HTTP Request - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/wa/sendMessage",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"to\":\"{{$json.telefono}}\",\"message\":\"{{$json.message}}\"}"
      },
      "name": "HTTP Request - Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "sheetId": "={{$env.GOOGLE_SHEETS_SHEET_ID}}",
        "operation": "update",
        "range": "Sheet1!A:I",
        "options": {}
      },
      "name": "Google Sheets - Update Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Leads": {
      "main": [
        [
          {
            "node": "HTTP Request - Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Claude": {
      "main": [
        [
          {
            "node": "HTTP Request - Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Evolution": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
